body{
  background-image: url("../public/fantasy-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  margin:0;
}

.app{
 
  display: flex;
  padding:20px;
  justify-content: center;
  margin:0;
  align-items : center;

}

.game{
  width: 560px;
  height: 560px;
  display:flex;
  flex-wrap: wrap;
  align-self:center;
  border-width: 10px;
  border-color: rgb(0,0,0,20%);
  border-style: groove;
}

.game img{
  width :70px;
  height:70px;
}