body{
  background-image: url("../public/fantasy-background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  margin:0;
  height: 100vh; 
  
}

.app{
 
  display:grid;
  align-items: center; /* Vertically align items */
  justify-content: center; /* Horizontally align items */
  padding:0px;
  margin:0;
  height: 100vh; 

}

.game{
  width: 560px;
  height: 560px;
  display:flex;
  flex-wrap: wrap;
  align-self:center;
  border-width: 10px;
  border-color: rgb(250,250,250,20%);
  border-style: groove;
}

.game img{
  width :70px;
  height:70px;
}