body {
  background-image: url("../public/fantasy-background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

.app {
  display: flex;
  align-items: center; /* Vertically align items */
  justify-content: center; /* Horizontally align items */
  padding: 0px;
  margin: 0;
  height: 100vh;
}

.game {
  position: absolute; /* Add absolute positioning */
  width: 590px;
  height: 590px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}

.game img {
  width: 70px;
  height: 70px;
  margin: 1px;
  cursor: pointer;
  align-self: center;
}

.gameHolder {
  /* background-color: rgb(0, 0, 0, 60%); */
  width: 580px;
  height: 590px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 0px;
  padding: 0px;
  border-width: 10px;
  border-color: rgb(250, 250, 250, 20%);
  border-style: groove;
}

.gameHolder img {
  width: 72px;
  height: 72px;
  margin: 0px;
  opacity: 90%;
}

.game img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0, 80%));
}

.scoreBoard {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  background-image: url("./Images/score-board.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 200px;
  padding: 0px;
  justify-content: center;
  float: right !important;
  padding: 0px;
}

.scoreDisplay {
  color: red;
  font-size: 50px;
  vertical-align: middle;
  line-height: 100px;
  text-align: center;
  justify-self: center;
  margin: 0px;
}

@media (max-width: 1000px) {
  .Scoreboard {
    position: relative;
    margin: 10px auto;
    transform: none;
  }
}
